header {
background-image: url(../images/apple-pie.jpg);
height: 590px;
background-size: 100% 127%;
}

h1 {
  margin-top: 0px;
  text-align: center;
  padding-top: 260px;
  color: white;
  font-size: 65px;
}

body {
  margin: 0px;
}

